@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{

	font-family: 'Poppins', sans-serif;
}


body{
	text-align: center;
	background-image: url("../images/R.jfif");
	background-repeat: repeat;
	background-size: 100% ;
	background-attachment: fixed;

}

header{

background-color: blue  ;
	height: 150px;
	border: 3px black solid;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 75px;
	left: 0px;
	border-radius: 100px;
	box-shadow: 10px 10px 20px floralwhite;
}



nav {
	text-align: center;
	display: flex;
	justify-content: space-around;
	height: 100%;
	font-size: 20pt;
	align-items: center;

}


nav a {
color: white;


}




#ano {
position: relative;
bottom: 950px;
left: 1100px;


}


	
 #corps {
	text-align: left;
	position: relative;
	top: 1px;
}




 #test {
 	text-align: left;


 }




 #soustitre{
 	font-size: 30pt;
 	text-decoration: underline;
 	color: red;

 }

#taille{
	font-size: 200%;


}


#taillemini{
	font-size: 150%;
}


section{
	padding-top: 7%;
	margin-top: 200px!important;
	display: none;

 margin: auto;
   
 ;
 
   width: 50%;


}
section:target{
	display: block;

}
form{
	margin: auto;
	text-align: left;
	width: 50%;
	height: auto;

}

input{
	text-align: left;
	width: 100%;




}
#mess{
	margin: 0px;
}




#moi{
	height: 30%;
	width: 30%;
}



#serveur{
height: 50%;
	width: 50%;
}



#envoyer{
	text-align: center;
	width: 60px;
	height: auto;
}



textarea{
	width: 100%;
	height: 150px;
}




#bouton{
	margin-left: 40%;
}





.cartouche{
	text-align: center;
	color: white;
 background-color: #5B686D;
border-radius: 50px;
box-shadow: 15px 15px 20px lightgoldenrodyellow;
border: 4px black solid;
}